.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    font-size: 'poppins';
}

.login-container{
    width: 300px;
    border-radius: 20px;
    height: 350px;
    padding: 40px 40px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.login-container h2{
    margin-top: 0;
    font-family: 'poppins';
    margin-left: 10px;
}
.login-fields{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.login-fields input{
    width: 260px;
    height: 35px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    outline: none;
    color: #5c5c5c;
    font-size: 15px;
}

.login-container button{
    width: 260px;
    height: 40px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 30px;
    background: rgb(0, 173, 0);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}


.login-agree{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 0px;
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 500; 
}
.login-agree input{
    width: 20px;
}