.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 80px; */
    height: 10vh;
    width: 100%;
    background-color: #2A2C29;
    /* background-color: #ffffff; */
    /* background-image: url('./assets/nav_bg.png'); */
}

.navbar p{
    position: absolute;
    top: 4px;
    left: 0;
    color: #FF7F00;
    font-size: 30px;
    font-weight: 600;
    font-family: 'dm serif display';
    margin-left: 40px;
    padding: 0;
    margin-top: 20px;
}

.nav-search{
    width: 40%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    margin-bottom: 8px;
}

.nav-login{
    position: absolute;
    right: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    top: 30px;
    margin-bottom: 50px;
}
.nav-login span{
    font-family: 'poppins';
    font-size: 1.15rem;
    padding-left: 10px;
    text-decoration: none;
    /* padding-bottom: 10px; */
}

@media screen and (max-width: 768px){
    .navbar p{
        margin-top: 15px;
        margin-left: 25px;
    }
    .nav-search{
        height: 20px;
        margin-bottom: 17px;
    }
}

@media screen and (max-width: 375px){
    .navbar p{
        margin-top: 15px;
        margin-left: 25px;
        font-size: 15px;
    }
    .nav-search{
        height: 5px;
        margin-bottom: 17px;
        margin-left: 50px;
        width: 50%;
    }
}









